#section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  height: 96vh;

  form {
    h1 {
      text-align: center;
    }

    #check {
      visibility: hidden;
      text-align: center;
    }
    .center {
      display: flex;
      justify-content: center;
    }
    #checkbox {
      //   display: flex;
      //   justify-content: center;
      //   text-align: center;
      margin-left: 44%;
    }
    #parag {
      text-align: center;
    }
    #submit {
      margin-left: 35%;
    }
  }
}
