* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.menuclick {
  background-color: black;
}
.menuclick .logo-icon {
  margin-top: 0;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.menuclick .logo-icon h1 {
  color: azure;
  font-size: 34px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.menuclick .logo-icon .menicon {
  color: white;
  font-size: 24px;
}
.menuclick ul {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 9px;
  padding: 20px;
}
.menuclick ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.menuclick ul li a:hover {
  border: none;
  border-bottom: 3px solid white;
}

#header {
  height: 100vh;
  background-image: url("./Image/Desktop/image-hero.jpg");
  background-size: cover;
}
#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  background-color: transparent;
  height: 12vh;
}
#header nav h1 {
  color: azure;
  font-size: 34px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#header nav ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
#header nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#header nav ul li a:hover {
  border: none;
  border-bottom: 3px solid white;
}
#header nav .menu {
  display: none;
  color: white;
  font-size: 24px;
}
#header .jans-text {
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  width: 56%;
  margin-top: 200px;
}
#header .jans-text span {
  text-transform: uppercase;
  color: white;
  font-size: 70px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin: 30px;
}

@media only screen and (max-width: 992px) {
  #header nav ul {
    display: none;
  }
  #header nav .menu {
    display: block;
  }
  #header .jans-text {
    width: 100%;
  }
  #header .jans-text span {
    font-size: 50px;
  }
}
#hero {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}
#hero .text {
  background-color: white;
  margin-top: 200px;
  padding-left: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
#hero .text h1 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 50px;
}
#hero .text p {
  color: rgb(151, 146, 146);
  font-weight: 500;
}

@media only screen and (max-width: 992px) {
  #hero {
    flex-direction: column;
    margin-top: 20px;
  }
  #hero .text {
    width: 100%;
    margin-top: 100px;
    padding-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  #hero .text {
    margin: 0 50px;
  }
}
.text-button h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 70px;
  text-transform: uppercase;
}
.text-button button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  padding: 15px 50px;
  text-transform: uppercase;
  border: 2px solid black;
  display: flex;
}
.text-button button:hover {
  background-color: black;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .text-button {
    display: flex;
    justify-content: center;
  }
  .text-button h1 {
    font-size: 40px;
  }
  .text-button .seall {
    display: none;
  }
}
#card {
  flex-wrap: wrap;
}
#card .cards {
  margin: 5px;
  color: white;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 35px;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  height: 70vh;
}
#card .cards:nth-child(1) {
  background-image: url("./Image/Desktop/image-deep-earth.jpg");
  background-size: cover;
}
#card .cards:nth-child(2) {
  background-image: url("./Image/Desktop/image-night-arcade.jpg");
  background-size: cover;
}
#card .cards:nth-child(3) {
  background-image: url("./Image/Desktop/image-soccer-team.jpg");
  background-size: cover;
}
#card .cards:nth-child(4) {
  background-image: url("./Image/Desktop/image-grid.jpg");
  background-size: cover;
}
#card .cards:nth-child(5) {
  background-image: url("./Image/Desktop/image-from-above.jpg");
  background-size: cover;
}
#card .cards:nth-child(6) {
  background-image: url("./Image/Desktop/image-pocket-borealis.jpg");
  background-size: cover;
}
#card .cards:nth-child(7) {
  background-image: url("./Image/Desktop/image-curiosity.jpg");
  background-size: cover;
}
#card .cards:nth-child(8) {
  background-image: url("./Image/Desktop/image-fisheye.jpg");
  background-size: cover;
}
#card .seall {
  display: none;
  justify-content: center;
  margin-top: 20px;
}
#card .seall button {
  padding: 4px 14px;
}

@media only screen and (max-width: 992px) {
  #card .cards {
    font-size: 22px;
    height: 18vh;
    width: 47%;
  }
  #card .cards:nth-child(1) {
    background-image: url("./Image/Mobile/image-deep-earth.jpg");
  }
  #card .cards:nth-child(2) {
    background-image: url("./Image/Mobile/image-night-arcade.jpg");
  }
  #card .cards:nth-child(3) {
    background-image: url("./Image/Mobile/image-soccer-team.jpg");
  }
  #card .cards:nth-child(4) {
    background-image: url("./Image/Mobile/image-grid.jpg");
  }
  #card .cards:nth-child(5) {
    background-image: url("./Image/Mobile/image-from-above.jpg");
  }
  #card .cards:nth-child(6) {
    background-image: url("./Image/Mobile/image-pocket-borealis.jpg");
  }
  #card .cards:nth-child(7) {
    background-image: url("./Image/Mobile/image-curiosity.jpg");
  }
  #card .cards:nth-child(8) {
    background-image: url("./Image/Mobile/image-fisheye.jpg");
  }
  #card .seall {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  #card .cards {
    font-size: 29px;
    height: 27vh;
    width: 100%;
  }
}
.logo-icon {
  margin-top: 80px;
  padding-top: 30px;
  background-color: black;
  display: flex;
  align-items: center;
}
.logo-icon .common .logo {
  display: flex;
  flex-direction: column;
}
.logo-icon .common .logo h1 {
  margin-bottom: 20px;
  color: white;
  font-size: 34px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo-icon .common .logo ul {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  padding: 0;
}
.logo-icon .common .logo ul li {
  margin: 0;
}
.logo-icon .common .logo ul li a {
  text-decoration: none;
  color: #fff;
}
.logo-icon .common .logo ul li a:hover {
  border: none;
  border-bottom: 3px solid white;
}
.logo-icon .common .icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.logo-icon .common .icons ul {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.logo-icon .common .icons ul li a {
  color: #fff;
  font-size: 30px;
}
.logo-icon .common .icons ul li a:hover {
  border: none;
  border-bottom: 3px solid white;
}
.logo-icon .common .icons p {
  font-size: 18px;
  color: rgb(164, 157, 157);
}

@media only screen and (max-width: 992px) {
  .logo-icon .common {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .logo-icon .common .logo {
    justify-content: center;
    align-items: center;
  }
  .logo-icon .common .logo ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .logo-icon .common .icons {
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */