.input {
  display: flex;

  input {
    width: 48%;
    margin: 0 1%;
    font-weight: 700;
  }
}
button,
input {
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

